{% extends "base.tpl.html" %}

{% block title %}Exportar{% endblock %}

{% block styles %}
{% endblock %}

{% block logmenu %}
{% endblock %}

{% block content %}
	<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Exportar<small>General</small> </h3>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>V<small>1</small></h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            	</ul>
            	<div class="clearfix"></div>
          	</div>
          	<div class="x_content">
          		<div class="row">
                <form id="exportar_form" method="post">

                  <div id="blockPorColegio">
                    <p>
                      <label>
                        <input type="radio" name="filtro_colegio" onclick="selectNombreColegio()" value="nombre"> Por Nombre de Colegio
                      </label><br>
                      <label>
                        <input type="radio" name="filtro_colegio" onclick="selectTipoColegio()" value="tipo"> Por Tipo de Colegio
                      </label><br>
                    </p>
                  </div>


                  <div class="form-group" id="group_colegioPorNombre" style="display: none;">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Por nombre de colegio:</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <select class="form-control" id="select_colegios" name="select_colegios" multiple="multiple">
                        {% for colegio in colegios %}
                            {% if "Colegio_Lima" in colegio.contact_sub_type %}
                              <option value="{{ colegio.contact_id }}"> {{ colegio.organization_name }} - {{ colegio.custom_119 }} </option>
                            {% else %}
                              <option value="{{ colegio.contact_id }}"> {{ colegio.organization_name }} - {{ colegio.custom_117 }} </option>
                            {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>

                  <div class="form-group" id="group_ColegioPorTipo" style="display: none;">
                    <label class="control-label col-md-12 col-sm-12 col-xs-12">Por tipo de colegio:</label><br>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Por segmentación:</label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <select class="form-control" id="select_segmentacion" name="select_segmentacion" multiple="multiple">
                        <option value="A"> A </option>
                        <option value="B"> B </option>
                        <option value="C"> C </option>
                        <option value="D"> D </option>
                      </select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Por tipo de colegio:</label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <select class="form-control" id="select_tipo_colegio" name="select_tipo_colegio" multiple="multiple">
                        <option value="PUCP"> PUCP </option>
                        <option value="No PUCP"> NO PUCP </option>
                      </select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Departamento:</label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <select class="form-control" id="select_departamento" name="select_departamento" multiple="multiple">
                        <option value='AMAZONAS'> AMAZONAS </option>
                        <option value='ANCASH'> ANCASH </option>
                        <option value='APURIMAC'> APURIMAC </option>
                        <option value='AREQUIPA'> AREQUIPA </option>
                        <option value='AYACUCHO'> AYACUCHO </option>
                        <option value='CAJAMARCA'> CAJAMARCA </option>
                        <option value='CUSCO'> CUSCO </option>
                        <option value='HUANCAVELICA'> HUANCAVELICA </option>
                        <option value='HUANUCO'> HUANUCO </option>
                        <option value='ICA'> ICA </option>
                        <option value='JUNIN'> JUNIN </option>
                        <option value='LA LIBERTAD'> LA LIBERTAD </option>
                        <option value='LAMBAYEQUE'> LAMBAYEQUE </option>
                        <option value='LIMA'> LIMA </option>
                        <option value='LORETO'> LORETO </option>
                        <option value='MADRE DE DIOS'> MADRE DE DIOS </option>
                        <option value='MOQUEGUA'> MOQUEGUA </option>
                        <option value='PASCO'> PASCO </option>
                        <option value='PIURA'> PIURA </option>
                        <option value='PUNO'> PUNO </option>
                        <option value='SAN MARTIN'> SAN MARTIN </option>
                        <option value='TACNA'> TACNA </option>
                        <option value='TUMBES'> TUMBES </option>
                        <option value='UCAYALI'> UCAYALI </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Por especialidad:</label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                      <select class="form-control" id="select_carreras" name="select_carreras" multiple="multiple">
                        {% for carrera in carreras %}
                          <option value="{{ carrera.value }}"> {{ carrera.label }} </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  
                  <button class="btn btn-success" type="submit"> Obtener interesados</button>             
                </form>
              </div>
          	</div>
        	</div>
      	</div>
    	</div>
  	</div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

  $("#select_colegios").select2({language:"es",allowClear: true});

  $("#select_carreras").select2({language:"es",allowClear: true});

  $("#select_segmentacion").select2({language:"es",allowClear: true});

  $("#select_tipo_colegio").select2({language:"es",allowClear: true});

  $("#select_departamento").select2({language:"es",allowClear: true});

  function  selectNombreColegio() {
    f1 = document.getElementById("group_colegioPorNombre");
    f2 = document.getElementById("group_ColegioPorTipo");

    f1.style.display = "";
    f2.style.display = "none";
  }

  function  selectTipoColegio() {
    f1 = document.getElementById("group_colegioPorNombre");
    f2 = document.getElementById("group_ColegioPorTipo");

    f1.style.display = "none";
    f2.style.display = "";
  }

</script> 
{% endblock %}