{% extends "base.tpl.html" %}

{% block title %}Reportes{% endblock %}

{% block styles %}
{% endblock %}

{% block logmenu %}
{% endblock %}

{% block content %}
	<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> Reportes <small> Específicos</small> </h3>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Reportes específicos <small> Procesos y simulacros </small></h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            	</ul>
            	<div class="clearfix"></div>
          	</div>
          	<div class="x_content">
          		<div class="row">
                <p>Por favor, elegir una de las dos opciones</p>

                <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/icon.svg" alt="image" />
	                    <div class="mask">
	                      <p>Reporte 1</p>
	                      <div class="tools tools-bottom">
	                        <a href="/reporte1"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Descarga un reporte que muestre cuántos participantes a Simulacros finalmente participaron en un proceso</p>
	                  </div>
	                </div>
	              </div>

	              <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/icon.svg" alt="image" />
	                    <div class="mask">
	                      <p>Reporte 2</p>
	                      <div class="tools tools-bottom">
	                        <a href="/reporte2"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Descarga un reporte de postulantes que participaron de un proceso de admisión</p>
	                  </div>
	                </div>
	              </div>

	              <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/icon.svg" alt="image" />
	                    <div class="mask">
	                      <p>Reporte 3</p>
	                      <div class="tools tools-bottom">
	                        <a href="/reporte3"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Descarga un reporte de participantes que asistieron a una charla</p>
	                  </div>
	                </div>
	              </div>

              </div>
          	</div>
        	</div>
      	</div>
    	</div>
  	</div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script> 
{% endblock %}