{% extends "base.tpl.html" %}

{% block title %}Reporte{% endblock %}

{% block styles %}
{% endblock %}

{% block overlay%}
<div class="processing-files">
  <div class="container">
    <p><i class="fa fa-history"></i></p>
    <p>Se está generando el reporte. Por favor espere, esta operación puede durar varios minutos...</p>
  </div>
</div>
{% endblock %}

{% block logmenu %}
{% endblock %}

{% block content %}
	<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> Reporte <small> N° 1</small> </h3>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Reporte <small> Evento vs Modalidad </small></h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            	</ul>
            	<div class="clearfix"></div>
          	</div>
          	<div class="x_content">
          		<div class="row">

                <form id="file-form" method="post">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" id="label_proceso" >Seleccione un evento: </label>
                    <div class="col-md-9 col-sm-9 col-xs-12" id="select_proceso_reporte">
                      <select class="select2_single form-control" name="proceso" id="select_proceso">
                        <option value="1">Vive PUCP 2018</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div>
                    <button class="btn btn-success" type="submit"><i class="material-icons"></i><span> Obtener Reporte</span></button>
                  </div>
                </form>

              </div>
          	</div>
        	</div>
      	</div>
    	</div>
  	</div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

  document.querySelector('#file-form').addEventListener('submit',function(event) {
    document.querySelector('.processing-files').classList.add('active');
  },false);
</script> 
{% endblock %}