{% extends "base.tpl.html" %}

{% block title %}Herramientas{% endblock %}

{% block styles %}
{% endblock %}

{% block logmenu %}
{% endblock %}

{% block content %}
	<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> Herramientas <small> Generales</small> </h3>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">

          <div class="x_panel">
            <div class="x_title">
              <h2>Conversiones <small> Seleccione una opción </small></h2>
              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            	</ul>
            	<div class="clearfix"></div>
          	</div>
          	<div class="x_content">
          		<div class="row">
                <p>Por favor, elegir una de las dos opciones</p>

                <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/convert.svg" alt="image" />
	                    <div class="mask">
	                      <p>CSV a XLS</p>
	                      <div class="tools tools-bottom">
	                        <a href="/convertir"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Convierte el archivo CSV del Form Return a un archivo Excel</p>
	                  </div>
	                </div>
	              </div>

	            <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/convert.svg" alt="image" />
	                    <div class="mask">
	                      <p>XLS de Posgrado a Tabla</p>
	                      <div class="tools tools-bottom">
	                        <a href="/procesarPosgrado"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Convierte el reporte del Campus Virtual a un archivo Excel</p>
	                  </div>
	                </div>
	              </div>


	            <div class="col-md-55">
	                <div class="thumbnail">
	                	<div class="image view view-first">
	                    <img class="icon-view" src="static/img/convert.svg" alt="image" />
	                    <div class="mask">
	                      <p>Números a Texto</p>
	                      <div class="tools tools-bottom">
	                        <a href="/numero-texto"><i class="fa fa-link"></i></a>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="caption">
	                    <p>Convierte los números de un archivo XLSX a Texto</p>
	                  </div>
	                </div>
	              </div>


              </div>
          	</div>
          </div>

          <div class="x_panel">
	            <div class="x_title">
	              <h2>Validaciones <small> Seleccione una opción </small></h2>
	              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
	                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	            	</ul>
	            	<div class="clearfix"></div>
	          	</div>
	          	<div class="x_content">
	          		<div class="row">
	                <p>Por favor, elegir una de las opciones</p>

	                <div class="col-md-55">
		                <div class="thumbnail">
		                	<div class="image view view-first">
		                    <img class="icon-view" src="static/img/clipboard.svg" alt="image" />
		                    <div class="mask">
		                      <p>Verificación de datos</p>
		                      <div class="tools tools-bottom">
		                        <a href="/verificaciones"><i class="fa fa-link"></i></a>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="caption">
		                    <p>Sube el archivo exportado y obtén los postulantes con verificaciones</p>
		                  </div>
		                </div>
		              </div>
	              </div>
	          	</div>
          </div>

          <div class="x_panel">
	            <div class="x_title">
	              <h2>Simulaciones <small> Seleccione una opción </small></h2>
	              <ul class="nav navbar-right panel_toolbox" style="min-width: auto;">
	                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
	            	</ul>
	            	<div class="clearfix"></div>
	          	</div>
	          	<div class="x_content">
	          		<div class="row">
	                <p>Por favor, elegir una de las opciones</p>

	                <div class="col-md-55">
		                <div class="thumbnail">
		                	<div class="image view view-first">
		                    <img class="icon-view" src="static/img/economy-forecast.svg" alt="image" />
		                    <div class="mask">
		                      <p>Simulador de aulas</p>
		                      <div class="tools tools-bottom">
		                        <a href="/simulacion-aulas"><i class="fa fa-link"></i></a>
		                      </div>
		                    </div>
		                  </div>
		                  <div class="caption">
		                    <p>Llena el formato y obten la cantidad de aulas</p>
		                  </div>
		                </div>
		              </div>
	              </div>
	          	</div>
          </div>


      	</div>
      </div>
  	</div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
</script> 
{% endblock %}